[Unit]
Description=Depends
After=network.target auditd.service

[Service]
ExecStart=/opt/code/depends/depends
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
